{% extends "FOSUserBundle::layout.html.twig" %}
{% block stylesheets %}

    <style>
        body{
            background-image: url("{{ asset("assets/img/boxed-bg2.png") }}")!important;
        }

    </style>
{% endblock stylesheets %}

{% block body %}

    {% trans_default_domain 'FOSUserBundle' %}
    {% block fos_user_content %}
        <div class="login-wrapper ">
            <!-- START Login Background Pic Wrapper-->
            <div class="bg-pic">
                <!-- START Background Pic-->
                <img src="{{asset('assetsE/img/demo/lims1.jpg')}}" data-src="{{asset('assetsE/img/demo/lims1.jpg')}}" data-src-retina="{{asset('assets/img/demo/lims1.jpg')}}" alt="" class="lazy">
                <!-- END Background Pic-->
                <!-- START Background Caption-->
                <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
                    <div class="col-lg-2">
                        <img src="" style="height: 200px; width: 200px;margin-left: 16px;" data-src="" data-src-retina="" alt="" class="">
                    </div>
                    </br>
                    <h2  style="font-family: Fertigo ;" class="semi-bold text-white" style="margin-left: 37px;">
                        YYYYY vous offre une meilleure gestion pour votre Laboratoire</h2>
                </div>
                <!-- END Background Caption-->
            </div>
            <!-- END Login Background Pic Wrapper-->
            <!-- START Login Right Container-->
            <div class="login-container bg-white">
                <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
                    <img src="{{asset('assetsE/img/logi.png')}}" alt="logo" data-src="" data-src-retina="" width="350" height="109">
                    <p class="p-t-35">Recuperer votre mot de passe </p>
                    <form id="form-recupPass" class="p-t-15" role="form" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                        <!-- START Form Control-->
                        <div class="form-group form-group-default input-group">
                            <label for="username">Nom Utilisateur <b>ou</b> Adresse email</label>
                            <input type="text" id="username" name="username"  class="form-control" placeholder="Non Utilisateur ou Email" required="required" />
                            <span  class="input-group-addon"><i class="fa fa-user"></i></span>
                        </div>
                        <!-- END Form Control-->

                        <button type="submit"  id="submit" name="submit" value="Recuperer" class="btn btn-info btn-cons m-t-10 btn-animated from-left fa fa-key" >
                            <span class="bold">Recuperer</span>
                        </button>
                    </form>
                    <br/>

                    <a href="{{ path("fos_user_security_login") }}">Retourner vers la page de connexion </a><br>
                </div>
            </div>
            <!-- END Login Right Container-->
        </div>

    {% endblock fos_user_content %}
{% endblock body %}
